@import '../fonts/gilroy.css';
@import './tailwind.scss';

* {
  @apply box-border m-0 p-0 font-gilroy;

  scrollbar-width: auto;
  scrollbar-color: rgb(3, 105, 161) #ffffff;


  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0, 117, 180);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}
